<header class="header flex justify-center gap-6 py-4">
	<section class="sub-header flex justify-between p-3 py-2">
		<div class="px-1">
			<h2 class="font-normal text-4xl text-white">Proxima alarma</h2>
			<h3 class="font-light text-4xl text-white">Shooting Stars 9:00pm</h3>
		</div>
		<figure class="sub-header-icon mr-16">
			<img src="assets/svg/calendary.svg" alt="calendary" />
		</figure>
	</section>
	<section class="flex gap-4 items-center">
		<div class="mr-8 ml-5">
			<h4 class="text-4xl font-normal text-center mb-1">Hola Usuario</h4>
			<p class="text-base font-light text-center">usuario@yopmail.com</p>
		</div>
		<figure class="user-icon">
			<img src="assets/svg/user-girl.svg" alt="user" />
		</figure>
	</section>
</header>
