<section class="flex flex-row calendar">
	<div class="calendar-content flex-1">
		<!-- row 1 -->
		<div
			class="col-start-1 col-end-2 row-start-1 border calendar-border-color rounded-tl-xl">
			<p class="text-xs font-medium text-center">Lunes</p>
			<p class="text-xs font-medium text-center">28</p>
		</div>
		<div class="col-start-2 col-end-3 row-start-1 border calendar-border-color">
			<p class="text-xs font-medium text-center">Martes</p>
			<p class="text-xs font-medium text-center">29</p>
		</div>
		<div class="col-start-3 col-end-4 row-start-1 border calendar-border-color">
			<p class="text-xs font-medium text-center">Miercoles</p>
			<p class="text-xs font-medium text-center">30</p>
		</div>
		<div class="col-start-4 col-end-5 row-start-1 border calendar-border-color">
			<p class="text-xs font-medium text-center">Jueves</p>
			<p class="text-xs font-medium text-center">31</p>
		</div>
		<div class="col-start-5 col-end-6 row-start-1 border calendar-border-color">
			<p class="text-xs font-medium text-center">Viernes</p>
			<p class="text-xs font-medium text-center">1 de sept</p>
		</div>
		<div class="col-start-6 col-end-7 row-start-1 border calendar-border-color">
			<p class="text-xs font-medium text-center">Sabado</p>
			<p class="text-xs font-medium text-center">2</p>
		</div>
		<div
			class="col-start-7 col-end-8 row-start-1 border calendar-border-color rounded-tr-xl">
			<p class="text-xs font-medium text-center">Domingo</p>
			<p class="text-xs font-medium text-center">3</p>
		</div>
		<!-- row 2 -->
		<div class="col-start-1 col-end-2 row-start-2 border calendar-border-color">
			<p class="text-xs font-medium text-center">4</p>
		</div>
		<div class="col-start-2 col-end-3 row-start-2 border calendar-border-color">
			<p class="text-xs font-medium text-center">5</p>
		</div>
		<div class="col-start-3 col-end-4 row-start-2 border calendar-border-color">
			<div class="grid place-content-center">
				<p
					class="text-xs font-medium text-center rounded-full bg-red-700 h-6 w-6 pt-1 text-white">
					6
				</p>
			</div>
		</div>
		<div class="col-start-4 col-end-5 row-start-2 border calendar-border-color">
			<p class="text-xs font-medium text-center">7</p>
		</div>
		<div class="col-start-5 col-end-6 row-start-2 border calendar-border-color">
			<p class="text-xs font-medium text-center">8</p>
		</div>
		<div class="col-start-6 col-end-7 row-start-2 border calendar-border-color">
			<p class="text-xs font-medium text-center">9</p>
		</div>
		<div class="col-start-7 col-end-8 row-start-2 border calendar-border-color">
			<p class="text-xs font-medium text-center">10</p>
		</div>
		<!-- row 3 -->
		<div class="col-start-1 col-end-2 row-start-3 border calendar-border-color">
			<p class="text-xs font-medium text-center">11</p>
		</div>
		<div class="col-start-2 col-end-3 row-start-3 border calendar-border-color">
			<p class="text-xs font-medium text-center">12</p>
		</div>
		<div class="col-start-3 col-end-4 row-start-3 border calendar-border-color">
			<p class="text-xs font-medium text-center">13</p>
			<p class="text-xs font-medium text-center truncate">
				<span class="inline-block circle-event circle-event-1"></span>
				5:30pm Evento Del dia
			</p>
		</div>
		<div class="col-start-4 col-end-5 row-start-3 border calendar-border-color">
			<p class="text-xs font-medium text-center">14</p>
		</div>
		<div class="col-start-5 col-end-6 row-start-3 border calendar-border-color">
			<p class="text-xs font-medium text-center">15</p>
		</div>
		<div class="col-start-6 col-end-7 row-start-3 border calendar-border-color">
			<p class="text-xs font-medium text-center">16</p>
		</div>
		<div class="col-start-7 col-end-8 row-start-3 border calendar-border-color">
			<p class="text-xs font-medium text-center">17</p>
		</div>
		<!-- row 4 -->
		<div class="col-start-1 col-end-2 row-start-4 border calendar-border-color">
			<p class="text-xs font-medium text-center">18</p>
		</div>
		<div class="col-start-2 col-end-3 row-start-4 border calendar-border-color">
			<p class="text-xs font-medium text-center">19</p>
		</div>
		<div class="col-start-3 col-end-4 row-start-4 border calendar-border-color">
			<p class="text-xs font-medium text-center">20</p>
		</div>
		<div class="col-start-4 col-end-5 row-start-4 border calendar-border-color">
			<p class="text-xs font-medium text-center">21</p>
		</div>
		<div class="col-start-5 col-end-6 row-start-4 border calendar-border-color">
			<p class="text-xs font-medium text-center">22</p>
		</div>
		<div class="col-start-6 col-end-7 row-start-4 border calendar-border-color">
			<p class="text-xs font-medium text-center">23</p>
		</div>
		<div class="col-start-7 col-end-8 row-start-4 border calendar-border-color">
			<p class="text-xs font-medium text-center">24</p>
		</div>
		<!-- row 5 -->
		<div
			class="col-start-1 col-end-2 row-start-5 border calendar-border-color rounded-bl-xl">
			<p class="text-xs font-medium text-center">25</p>
		</div>
		<div class="col-start-2 col-end-3 row-start-5 border calendar-border-color">
			<p class="text-xs font-medium text-center">26</p>
		</div>
		<div class="col-start-3 col-end-4 row-start-5 border calendar-border-color">
			<p class="text-xs font-medium text-center">27</p>
		</div>
		<div class="col-start-4 col-end-5 row-start-5 border calendar-border-color">
			<p class="text-xs font-medium text-center">28</p>
			<p class="text-xs font-medium truncate text-left ml-1">
				<span class="inline-block circle-event circle-event-1"></span>
				5:30pm Evento Del dia
			</p>
			<p class="text-xs font-medium truncate text-left ml-1">
				<span class="inline-block circle-event circle-event-2"></span>
				9pm Evento
			</p>
			<p class="text-xs font-medium truncate text-left ml-1">
				<span class="inline-block circle-event circle-event-3"></span>
				10:15pm Evento Nocturno
			</p>
		</div>
		<div class="col-start-5 col-end-6 row-start-5 border calendar-border-color">
			<p class="text-xs font-medium text-center">29</p>
		</div>
		<div class="col-start-6 col-end-7 row-start-5 border calendar-border-color">
			<p class="text-xs font-medium text-center">30</p>
		</div>
		<div
			class="col-start-7 col-end-8 row-start-5 border calendar-border-color rounded-br-xl">
			<p class="text-xs font-medium text-center">1 de oct</p>
		</div>
		<!-- Eventos -->
		<div
			class="col-start-3 col-end-4 row-start-2 h-4 mt-8 mx-1 px-1 rounded bg-green-500">
			<p class="text-xs font-normal text-left">Evento Mensual</p>
		</div>
		<div
			class="col-start-3 col-end-7 row-start-2 h-4 mt-14 mx-1 px-1 rounded bg-yellow-500">
			<p class="text-xs font-normal text-left">
				Evento Que se repite semanalmente
			</p>
		</div>
		<div
			class="col-start-5 col-end-9 row-start-4 h-4 mt-8 mx-1 px-1 rounded bg-red-300">
			<p class="text-xs font-normal text-left">
				Evento Que se repite semanalmente 2
			</p>
		</div>
		<div
			class="col-start-1 col-end-3 row-start-5 h-4 mt-8 mx-1 px-1 rounded bg-red-300">
			<p class="text-xs font-normal text-left">
				Evento Que se repite semanalmente 2
			</p>
		</div>
	</div>
</section>
