<section>
	<nav class="max-w-screen-xl mx-auto mt-11">
		<div class="flex items-center justify-between">
			<button mat-stroked-button class="button-rounded">Hoy</button>
			<div class="flex items-center gap-8">
				<button
					mat-stroked-button
					class="button-rounded button-rounded-arrow w-4 h-4">
					<figure class="user-icon">
						<img src="assets/svg/arrow-open-ligth.svg" alt="user" />
					</figure>
				</button>
				<p class="text-8 font-bold">May 21 – 26, 2045</p>
				<button
					mat-stroked-button
					class="button-rounded button-rounded-arrow w-4 h-4">
					<figure class="transform rotate-180 user-icon">
						<img src="assets/svg/arrow-open-ligth.svg" alt="user" />
					</figure>
				</button>
			</div>
			<mat-button-toggle-group
				name="fontStyle"
				aria-label="Font Style"
				class="button-group-solid">
				<mat-button-toggle
					value="bold"
					class="button-group-solid__not-selected px-4"
					>Año</mat-button-toggle
				>
				<mat-button-toggle
					class="button-group-solid__black px-4"
					[ngClass]="{
						'button-group-solid__selected': selectWeek === 0,
						'button-group-solid__not-selected': selectWeek !== 0
					}"
					value="italic"
					(click)="setWeek(0)"
					>Semana</mat-button-toggle
				>
				<mat-button-toggle
					class="button-group-solid__black px-4"
					value="italic"
					[ngClass]="{
						'button-group-solid__selected': selectWeek === 1,
						'button-group-solid__not-selected': selectWeek !== 1
					}"
					(click)="setWeek(1)"
					>Mes</mat-button-toggle
				>
				<mat-button-toggle
					class="button-group-solid__black px-4"
					value="underline"
					[ngClass]="{
						'button-group-solid__selected': selectWeek === 2,
						'button-group-solid__not-selected': selectWeek !== 2
					}"
					(click)="setWeek(2)"
					>Dia</mat-button-toggle
				>
			</mat-button-toggle-group>
		</div>
	</nav>
	<main class="max-w-screen-xl mx-auto">
		<app-calendar-day *ngIf="selectWeek === 2"></app-calendar-day>
		<app-calendar-month *ngIf="selectWeek === 1"></app-calendar-month>
		<app-calendar-week *ngIf="selectWeek === 0"></app-calendar-week>
	</main>
</section>
