<div class="component">
	<mat-card class="card">
		<img src="assets/svg/women-logo.svg" alt="logo" srcset="" />
		<br />
		<mat-card-title class="title">Crear Cuenta</mat-card-title>
		<mat-card-content style="width: 100%">
			<br />
			<p>
				<mat-form-field class="input">
					<input
						type="text"
						matInput
						placeholder="Nombre Usuario"
						formControlName="username" />
				</mat-form-field>
			</p>

			<br />
			<p>
				<mat-form-field class="input">
					<input
						type="email"
						matInput
						placeholder="Correo electronico"
						formControlName="email" />
				</mat-form-field>
			</p>
			<br />
			<p>
				<mat-form-field class="input">
					<input
						type="password"
						matInput
						placeholder="Contraseña"
						formControlName="password" />
				</mat-form-field>
			</p>

			<div>
				<a type="button" href="" class="button-login btn-lg">
					Iniciar Sesion
				</a>
			</div>
			<br />
		</mat-card-content>
	</mat-card>
</div>
