<app-header></app-header>

<div class="max-w-screen-xl mx-auto relative pb-20">
	<app-calendar-view></app-calendar-view>

	<div class="absolute bottom-0 right-0 mb-4 mr-1">
		<div *ngIf="showButtons" class="relative">
			<div class="absolute bottom-2 right-0">
				<button
					mat-fab
					color="accent"
					aria-label="Example icon button with a delete icon">
					<mat-icon>print</mat-icon>
				</button>
			</div>
			<div class="absolute top-0 -left-16">
				<button
					mat-fab
					color="accent"
					aria-label="Example icon button with a delete icon 2">
					<mat-icon>filter_list</mat-icon>
				</button>
			</div>
		</div>

		<button
			mat-fab
			color="primary"
			(click)="changeShowButtons()"
			aria-label="Example icon button with a delete icon">
			<mat-icon>add</mat-icon>
		</button>
	</div>
</div>
