<section class="flex flex-row calendar">
	<div class="calendar-content flex-1">
		<!-- col 1 13 items-->
		<div class="inline-block col-start-1 col-end-2 row-start-1 row-end-2"></div>
		<p
			class="inline-block col-start-1 col-end-2 -mt-3 row-start-2 row-end-3 text-sm font-normal ml-1">
			8 am
		</p>
		<p
			class="inline-block col-start-1 col-end-2 -mt-3 row-start-3 row-end-4 text-sm font-normal ml-1">
			9 am
		</p>
		<p
			class="inline-block col-start-1 col-end-2 -mt-3 row-start-4 row-end-5 text-sm font-normal ml-1">
			10 am
		</p>
		<p
			class="inline-block col-start-1 col-end-2 -mt-3 row-start-5 row-end-6 text-sm font-normal ml-1">
			11 am
		</p>
		<p
			class="inline-block col-start-1 col-end-2 -mt-3 row-start-6 row-end-7 text-sm font-normal ml-1">
			12 am
		</p>
		<p
			class="inline-block col-start-1 col-end-2 -mt-3 row-start-7 row-end-8 text-sm font-normal ml-1">
			1 pm
		</p>
		<p
			class="inline-block col-start-1 col-end-2 -mt-3 row-start-8 row-end-9 text-sm font-normal ml-1">
			2 pm
		</p>
		<p
			class="inline-block col-start-1 col-end-2 -mt-3 row-start-9 row-end-10 text-sm font-normal ml-1">
			3 pm
		</p>
		<p
			class="inline-block col-start-1 col-end-2 -mt-3 row-start-10 row-end-11 text-sm font-normal ml-1">
			4 pm
		</p>
		<p
			class="inline-block col-start-1 col-end-2 -mt-3 row-start-11 row-end-12 text-sm font-normal ml-1">
			5 pm
		</p>
		<p
			class="inline-block col-start-1 col-end-2 -mt-3 row-start-12 row-end-13 text-sm font-normal ml-1">
			6 pm
		</p>
		<!-- col 2 -->
		<div class="col-start-2 col-end-3 row-start-1 row-end-2 init-line"></div>
		<div class="col-start-2 col-end-3 row-start-2 row-end-3 init-line"></div>
		<div class="col-start-2 col-end-3 row-start-3 row-end-4 init-line"></div>
		<div class="col-start-2 col-end-3 row-start-4 row-end-5 init-line"></div>
		<div class="col-start-2 col-end-3 row-start-5 row-end-6 init-line"></div>
		<div class="col-start-2 col-end-3 row-start-6 row-end-7 init-line"></div>
		<div class="col-start-2 col-end-3 row-start-7 row-end-8 init-line"></div>
		<div class="col-start-2 col-end-3 row-start-8 row-end-9 init-line"></div>
		<div class="col-start-2 col-end-3 row-start-9 row-end-10 init-line"></div>
		<div class="col-start-2 col-end-3 row-start-10 row-end-11 init-line"></div>
		<div class="col-start-2 col-end-3 row-start-11 row-end-12 init-line"></div>
		<div class="col-start-2 col-end-3 row-start-12 row-end-13 init-line"></div>
		<!-- col 3 -->
		<div class="col-start-3 col-end-8 row-start-1 row-end-2 content-hour"></div>
		<div class="col-start-3 col-end-8 row-start-2 row-end-3 content-hour"></div>
		<div class="col-start-3 col-end-8 row-start-3 row-end-4 content-hour"></div>
		<div class="col-start-3 col-end-8 row-start-4 row-end-5 content-hour"></div>
		<div class="col-start-3 col-end-8 row-start-5 row-end-6 content-hour"></div>
		<div class="col-start-3 col-end-8 row-start-6 row-end-7 content-hour"></div>
		<div class="col-start-3 col-end-8 row-start-7 row-end-8 content-hour"></div>
		<div class="col-start-3 col-end-8 row-start-8 row-end-9 content-hour"></div>
		<div
			class="col-start-3 col-end-8 row-start-9 row-end-10 content-hour"></div>
		<div
			class="col-start-3 col-end-8 row-start-10 row-end-11 content-hour"></div>
		<div
			class="col-start-3 col-end-8 row-start-11 row-end-12 content-hour"></div>
		<div
			class="col-start-3 col-end-8 row-start-12 row-end-13 content-hour"></div>
		<!-- Events -->
		<div
			class="col-start-3 col-end-8 row-start-5 row-end-8 bg-green-600 border border-white rounded-lg p-2 mb-6">
			<p class="text-xs font-normal mb-2">Evento Mensual</p>
			<p class="text-xs font-normal">7:30 - 9:30 am</p>
		</div>
		<div
			class="col-start-3 col-end-5 row-start-10 row-end-12 bg-yellow-400 border border-white rounded-lg p-2">
			<p class="text-xs font-normal mb-2">Evento Mensual</p>
			<p class="text-xs font-normal">7:30 - 9:30 am</p>
		</div>
		<div
			class="col-start-5 col-end-8 row-start-10 row-end-12 bg-yellow-400 border border-white rounded-lg p-2">
			<p class="text-xs font-normal mb-2">Evento Mensual</p>
			<p class="text-xs font-normal">7:30 - 9:30 am</p>
		</div>
	</div>
	<div class="selector-line"></div>
</section>
