// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// custom colors for the app
$custom-primary: (
	50: #f2e7e7,
	100: #ecc6bf,
	200: #e69f94,
	300: #e37768,
	400: #e25848,
	500: #e0352c,
	600: #d63029,
	700: #c82a24,
	800: #ba231f,
	900: #a11516,
	A100: #ffffff,
	A200: #ffffff,
	A400: #ffffff,
	A700: #ffffff,
	contrast: (
		50: #ffffff,
		100: #ffffff,
		200: #ffffff,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #ffffff,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
	),
);
$custom-secondary: (
	50: #e5f5f7,
	100: #bfe5ec,
	200: #94d6e2,
	300: #69c6d8,
	400: #51bcd0,
	500: #44b1c8,
	600: #40a1b5,
	700: #398d9c,
	800: #327985,
	900: #25575b,
	A100: #ffffff,
	A200: #ffffff,
	A400: #ffffff,
	A700: #ffffff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #ffffff,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
	),
);
$ux-project-web-custom-primary: mat.define-palette($custom-primary);
$ux-project-web-custom-secondary: mat.define-palette($custom-secondary);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ux-project-web-primary: mat.define-palette($custom-primary);
$ux-project-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ux-project-web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ux-project-web-theme: mat.define-light-theme(
	(
		color: (
			primary: $ux-project-web-custom-primary,
			secondary: $ux-project-web-custom-secondary,
			accent: $ux-project-web-accent,
			warn: $ux-project-web-warn,
		),
	)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ux-project-web-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// add tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;
